.header {
    background-color: #f9f9f9;
    border-bottom: 2px solid #ebebeb;
    font-size: 32px;
    margin-bottom: 30px;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0,1);
}


.header h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #5c377c;
    font-family: "Segoe UI", sans-serif;
    letter-spacing: 0.5px;

}